
[Unit]
Description=After Hibernate Scripts
After=hibernate.target

[Service]
Type=oneshot
ExecStart=systemctl --user restart microphone

[Install]
WantedBy=hibernate.target
